<p id="notice"><%= notice %></p>
<%= render 'shared/navbar' %>
<%= render 'shared/header' %>

<h1>Comentarios</h1>

<table>
  <thead>
    <tr>
      <th>Contenido</th>
      <th>Comentario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
    <li>
    <%= comment.content  %>
    </li>
      <tr>
        <td><%= comment.user_id %></td>
        <td><%= comment.commentable_id %></td>
        <td><%= comment.content %></td>

        <td><%= link_to 'Mostrar', comment %></td>
        <td><%= link_to 'Editar', edit_comment_path(comment) %></td>
        <td><%= link_to 'Eliminar', comment, method: :delete, data: { confirm: 'Esta usted seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Comentario', new_comment_path %>
