<div class="alert alert-warning alert-dismissible fade show" id="notice" role="alert">
  <strong>  <p><%= notice %></p></strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<h1> <%= @comment.content %></h1>
<p>
  <strong>Usuario:</strong>
  <%= @comment.user.email %>
</p>

<p>
  <strong>Contenido:</strong>
  <%= @comment.content %>
</p>



<%= link_to 'Editar', edit_comment_path(@comment) %> |
<%= link_to 'Atras', comments_path %>
