<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
  <span style="font-size: 2.5rem;">
    <span style="color: Mediumslateblue;">
    <i class="fab fa-product-hunt"></i>
    </span>
  </span>


  <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
       <a class="nav-link" <%= link_to "Inicio", places_path %><span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Perfil de Usuario</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" <%= link_to "Fotos", pictures_path %></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  <%= link_to "Comentarios", comments_path %></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <%= current_user.email %></a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item "  href="#">
            <% if user_signed_in? %>
            <%= link_to 'Cerrar Sesión', destroy_user_session_path, method: :delete %>
            <% else %>
            <%= link_to '( Iniciar sesión )', new_user_session_path %>
            <% end %>                
          </a>             
        </div>
      </li>           
    </ul>
  </div>
</nav>      
    
