<p id="notice"><%= notice %></p>
<%= render 'shared/navbar' %>
<%# <%= render 'shared/header' %>
<h1>Fotografías</h1>

<table>
  <thead>
    <tr>
      <th>Usuario</th>
      <th>Lugar</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <% @pictures.each do |picture| %>
      <tr>

        <td>
          
            <%= image_tag picture.photo.variant(resize: '150x150').processed %>

        </td>
  
        <td><%= picture.user.name %></td>
        <td><%= picture.place.name %></td>
        <td><%= link_to 'Mostrar', picture %></td>
        <td><%= link_to 'Editar', edit_picture_path(picture) %></td>
        <td><%= link_to 'Eliminar', picture, method: :delete, data: { confirm: 'Esta seguro?' } %></td>
        <td><%= link_to 'Comentar', new_picture_comment_path(picture) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


