<p id="notice"><%= notice %></p>
<%= render 'shared/navbar' %>
<%# <%= render 'shared/header' %>
<h1>Pictures</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Place</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <% @pictures.each do |picture| %>
      <tr>

        <td>
          
            <%= image_tag picture.photo.variant(resize: '20x20').processed %>

        </td>
  
        <td><%= picture.user_id %></td>
        <td><%= picture.place_id %></td>
        <td><%= link_to 'Show', picture %></td>
        <td><%= link_to 'Edit', edit_picture_path(picture) %></td>
        <td><%= link_to 'Destroy', picture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Comment', new_picture_comment_path(picture) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


