<p id="notice"><%= notice %></p>

<%= image_tag @picture.photo if @picture.photo.attached? %>

<p>
  <strong>User:</strong>
  <%= @picture.user_id %>
</p>

<p>
  <strong>Place:</strong>
  <%= @picture.place_id %>
</p>


<% if @picture.photo.attached? %>
  <ul>

  <li>
    <%= link_to 'X', photo_picture_path(@picture), method: :delete, data:{confirm:'are you sure?'} %>
    <%= image_tag @picture.photo.variant(resize:'200x200').processed %>
  </li>  

    </ul>
<% end %>

<%= link_to 'Edit', edit_place_picture_path(@picture.place, @picture) %> |
<%= link_to 'Back', place_pictures_path(@picture.place) %>
