<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @picture.user.email %>
</p>

<p>
  <strong>Place:</strong>
  <%= @picture.place.name %>
</p>


<% if @picture.photo.attached? %>
  <ul>

  <li>
   
    <%= image_tag @picture.photo.variant(resize:'200x200').processed %>
  </li>  

    </ul>
<% end %>

<%= link_to 'Edit', edit_place_picture_path(@picture.place, @picture) %> |
<%= link_to 'Back', place_pictures_path(@picture.place) %>
