<%= render 'shared/navbar' %>
<div class="mx-auto p-3" style="width: 500px;"></div>

<div class="alert alert-warning alert-dismissible fade show" id="notice" role="alert">
  <strong>  <p><%= notice %></p></strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="container table-responsive-md">
	<table id="example" class="table table-striped table-bordered" style="width: 1000px;">
    <thead>
      <tr>
        <th><strong>Usuario:</strong></th>
        <th><strong>Lugar:</strong></th>

        <th colspan="4"></th>
      </tr>
    </thead>

    <tbody>

        <tr>
          <td><%= @picture.user.email %></td>
          <td><%= @picture.place.name %></td>
          <td><% if @picture.photo.attached? %><%= image_tag @picture.photo.variant(resize:'200x200').processed %><% end %></td>
          <td><%= link_to toggle_favorite_picture_path(@picture), remote: true, method: :post do %><%= render 'pictures/like_button', picture: @picture %><% end %></td>
          <td><%= link_to 'Editar', edit_place_picture_path(@picture.place, @picture) %></td>
          <td><%= link_to 'Atras', place_pictures_path(@picture.place) %></td>
        </tr>

    </tbody>
  </table>
</div>