<p id="notice"><%= notice %></p>

<p>
  <strong>Usuario:</strong>
  <%= @picture.user.email %>
</p>

<p>
  <strong>Lugar:</strong>
  <%= @picture.place.name %>
</p>


<% if @picture.photo.attached? %>
  <ul>

  <li>
   
    <%= image_tag @picture.photo.variant(resize:'400x400').processed %>
  </li>  

    </ul>
<% end %>

<%= link_to toggle_favorite_picture_path(@picture), remote: true, method: :post do %>
  <%= render 'pictures/like_button', picture: @picture %>
<% end %>

<%= link_to 'Editar', edit_place_picture_path(@picture.place, @picture) %> |
<%= link_to 'Atras', place_pictures_path(@picture.place) %>
