<h2 class="text-center m-5">Cambie su contraseña</h2>

<div class="col-8 offset-2 col-sm-6 offset-sm-3">
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>

  <div class="field">
    <%= f.label :password, "Nueva Contraseña" %><br />
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> Caracteres mínimos)</em><br />
    <% end %>
    <%= f.password_field :password, autofocus: true, autocomplete: "nueva contraseña", class: 'form-control m-2' %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "Confirme su nueva contraseña" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "nueva contraseña", class: 'form-control m-2' %>
  </div>

  <div class="actions">
    <%= f.submit "Change my password", class: 'btn btn-primary m-2' %>
  </div>
<% end %>
<hr>
<%= render "users/shared/links" %>
</section>