<p id="notice"><%= notice %></p>
<%= render 'shared/navbar' %>
<%= render 'shared/header' %>

<h1>Places</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @places.each do |place| %>
      <tr>
        <td><%= place.name %></td>
        <td><%= place.address %></td>
        <td><%= link_to 'Show', place %></td>
        <td><%= link_to 'Edit', edit_place_path(place) %></td>
        <td><%= link_to 'Destroy', place, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>
<script>
  handler = Gmaps.build('Google');

  handler.buildMap({ provider: {
    center: new google.maps.LatLng({lat: -34, lng: -33}),
    zoom: 4
  }, internal: {
    id: 'map'}
    },
  function(){
    markers = handler.addMarkers(<%= raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });

  google.maps.event.addListener(handler.getMap(), "click", function(){
    console.log("hola");
  });
</script>


<%= link_to 'New Place', new_place_path %>
<%# <%= link_to 'comment', new_comment_path %> %>
