<!DOCTYPE html>
<html>
  <head>
    <title>AppPiCR</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag '/app/assets/stylesheets/application', media: 'all', 'data-turbolinks-track': 'reload' %> %>
    <script src="//maps.google.com/maps/api/js?key=AIzaSyBzhtINkKlRwB_hl5bpT0KYNNjpmFVktAA"></script>
    <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <%= link_to "User_path" %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
       
    <%= yield %>
  </body>
</html>
